## Data Types

- Every orbject in pytong will have a type

In [ ]:
#fundamental data types
int, float, bool, str, tuple, list, set, dict

- there's also a None(NoneType)

In [ ]:
None

- the type will determine what properties and behavious apply to that object
- we could check type using type() built-in function

In [ ]:
2
type(2)
type('Andy')
print('Hey there!')

### Variables

- variables hold values and have a name
- in other words, they bind a value to a name

### Variable naming
- variables should be descriptive(same for functions)
- case-sensitive
- variable naming is lowercase_word(also known as snake_case)
- python keywords cannot be used as variables

In [ ]:
user_name = 'Andy'
print(user_name)

user_age = 63
print(user_age)

### Variable assingment
- single vartiable assignment with "="
- mutiple variable assignment below

In [ ]:
user, user_age, user_gender = 'Andy', 39, 'Male'
print(user_age)

### Arithmetic and augmented assignment operators

- basic arithmetics with +, -, *, /
- augmented assignment operators

In [ ]:
num1 = 39
num2 = 40

num1 + num2

In [ ]:
counter = 0
# task: increment counter by 1
counter = counter + 1
counter += 1
#above two are identical
counter

In [ ]:
# 2 cubeb
2 ** 3

#modulo operator - returns remainder of the number // checks if number is even or odd
5 % 3 #odd
4 % 2 #even

In [ ]:
#PEMDAS
#Parenthesis
#Exponentiation
#Multiplication
#Division
#Additiona
#Subtraction

(2 - 1) * 4 ** 2
1 * 4 ** 2
1 * 16
16

### Ints and Floats

#### Ints
- whole(complete)numbers with no fractional value
- useful for counting

#### Floats
- Real numbers with a fractional value

In [ ]:
type(4/10)

#2.0 is a float too

type(2.0)
type(2.) # is valid and too

#### Ints and floats
- operations between ints and floats will alaways produce floats
- we can convert floats to ints and vice versa
- floats take up more memory than ints

In [ ]:
type(3.0)
int(3.0) # 3
float(100)
int(3.1416) # 3
int(3.99999) # 3 as well

#### Floats are approximations
- computers store floating-point numbers as binary(base 2) fraction
- this may produce unexpected results with certain real numbers that do not have a precise binary representation

In [ ]:
0.1 # 1/10, base 10
print(0.1 + 0.2)

### Booleans and comparison operators
- a bool represents the notion of True or False(capital case in Python)

In [ ]:
True
type(True)

- we could generate bools using comparison operators
- single equals is assignment, double equals is comparison

In [ ]:
age = 43
retirement = 64

age >= retirement

- ... and combine them using logical operators

In [ ]:
True or True

In [ ]:
True or False

In [ ]:
True and False

In [ ]:
False and False

In [ ]:
not False

In [ ]:
not True

### Strings
- it is an ordered sequence of characters that could include any letters, numbers, symbols, punctuations, etc

In [ ]:
type('Andy')

- we create string using '' or ""

- what about strings with '' or "" in them?

In [ ]:
'Let\'s code "pandorably"'

- there's also '''

In [ ]:
print('''this is a multiline string
"this is the second"
'this is the third'
''')

- strings can be combined with +

In [ ]:
str1 = "One"
str2 = "Two"

print(str1 + " " + str2)

- strings can be repeated with * (polymorphemism) means different things in different contexts

In [ ]:
print(str1 * 3)

### Methods

- methods are simialr to functions, eg, type()

- ... but they are always attached to a type of object

- different data types have different methods defined and available

- some methods available on strings
> .upper(),.lower(),.isalpha(),.startsWith()

In [ ]:
'Python'.startswith('P')

- BONUS: value substitution with .format()

In [ ]:
"We will be using python v{}".format(3.9)

In [ ]:
"We will be using python v{py_v}, pandas v{pa_v}".format(py_v=3.9, pa_v=1.2)

# Containers

## Lists

- Lists are ordered sequences of elements

In [ ]:
students = ["Jonas", "Emma"]
print(students[1])

- denoted with []

- each element has an index, the first starting at 0(zero based indexing) - common across programming across other languages. Array in JS. Thinking of distance could help here

- we select items from lists using the respective index

- ... or sequence of indices(list slicing)

In [ ]:
print(students[-2])

- some slicing rules
> lower bound is inclusive, upper bound is exclusive

> we could also select from the end using a negative indexing system

> if we get out of bounds, python throws index error

## Lists vs. Strings

- strings are sequences of characters, whereas

In [ ]:
py = 'python'

- lists are sequences of any object

In [ ]:
print(students)

- both lists and strings are ordered

In [ ]:
print(students[0])
print(py[0])

- lists are mutable; strings are immutable
- once strings are created they can't be changed. Still can be re-assigned

In [ ]:
students[1] = 'Brie'
print(students)

## List methods and functions

- built in functions: max, len, min, sorted

In [3]:
ages = [23, 39, 12, 12.1]
print(max(ages))
print(min(ages))
print(len(ages))
print(sorted(ages))
print(sorted(ages, reverse=True))

39
12
4
[12, 12.1, 23, 39]
[39, 23, 12.1, 12]

- methods
> append() to add items to a list

> pop() to remove by index

> remove() to remove by item

> str.join(list) to join all elements of a list into a string

In [8]:
ages.append(24)
print(ages)
ages.pop(-1) #removes and returns an element

[23, 39, 12, 12.1, 24]

24

## Tuples

- Tuples are ordered and immutable containers of elements

- typically used to store values that are closely related together

- denoted using parentheses...though optional

In [9]:
u_data = ('Ronald', 59)
type(u_data)

tuple

- each element has a zero-based index(just like lists)

In [10]:
print(u_data[0])

Ronald

## Sets

- unordered container of (only) unique values

- constructed using {} and comma-separated elements

In [15]:
degrees = {'BSc', 'MA', 'PhD'}
type(degrees)
degrees2 = {'BSc', 'MA', 'PhD', 'MA'}
type(degrees2)
print(degrees2)

{'MA', 'PhD', 'BSc'}

- .add() and .discard() to add and remove values

In [18]:
degrees.add('Lol')
print(degrees)
degrees.discard('MA')
print(degrees)

{'MA', 'PhD', 'BSc', 'Lol'}
{'PhD', 'BSc', 'Lol'}

- .intersection(), difference(), and .union()

In [25]:
print(degrees.intersection(degrees2))
print(degrees.difference(degrees2))
print(degrees2.difference(degrees))
print(degrees.union(degrees2))

{'PhD', 'BSc'}
{'Lol'}
{'MA'}
{'Lol', 'PhD', 'MA', 'BSc'}

- nice shortcut: remove all duplicate values from lists? use set()

In [26]:
highest_degree_earned = ['BA', 'BA', 'BSc', 'MA', 'MA']
set(highest_degree_earned)

{'BA', 'BSc', 'MA'}

## Dictionaries

- dictionaries are mutable and unordered

In [27]:
student_scores = {'Andrew': 94, "Jessica": 79, 'Brice': 96} # hasmap, hashtable or object in other programming languages
type(student_scores)

dict

- they are built using {} key-value pairs

- values are accessed using [] or with .get()

In [28]:
student_scores['Jessica']

79

In [30]:
student_scores.get('Andy') # returns None and program continues if the key value pair is missing

- adding and removing elements: dict[key] = value and dict.pop(key)

In [34]:
student_scores['Tom'] = 69
print(student_scores)
student_scores.pop('Brice')
print(student_scores)

{'Andrew': 94, 'Jessica': 79, 'Brice': 96, 'Tom': 69}
{'Andrew': 94, 'Jessica': 79, 'Tom': 69}

### Dictionary key and values

- the values could be any other values or container object, even other dictionaries

In [35]:
student_scores2 = {
  'Andrew': 94,
  'Jessica': [96, 93],
  'Tom': {
    'bio': 94,
    'chem': 84,
    'phys': 79
  }
}

type(student_scores2)

dict

- the keys could be any immutable data type - can't add a List as a key here, because a list is immutable and not hashable

In [41]:
student_scores3 = {
  'Andrew': 94,
  7: [96, 93],
  ('Tom', 'One'): {
    'bio': 94,
    'chem': 84,
    'phys': 79
  }
}
type(student_scores3)
print(student_scores3)

{'Andrew': 94, 7: [96, 93], ('Tom', 'One'): {'bio': 94, 'chem': 84, 'phys': 79}}

- .keys(), .values(), .items()

In [40]:
student_scores.keys() # different data type
student_scores.values() # different data type
student_scores.items() # collection of key value pairs as tuples. different data type

dict_items([('Andrew', 94), ('Jessica', 79), ('Tom', 69)])

- efficiently test membership  with the in and not in operators

In [46]:
print('Brandon' in student_scores)
print('Andrew' in student_scores)

print('Brandon' not in student_scores)
print('Andrew' not in student_scores)

his_name = 'Andrew Dogood'
'rew' in his_name

False
True
True
False

True

# Control flow

## Controlling flow: if, else, and elif

In [48]:
passed = []
failed = []

student_1 = {'name': 'Jess', 'exam_score': 72, 'attendance': True}
student_2 = {'name': 'Briana', 'exam_score': 90, 'attendance': True}
student_3 = {'name': 'Jay', 'exam_score': 64, 'attendance': False}

# above everything is executed top to bottom

- if statements allow us to control the flow of a program

In [51]:
if student_1.get('exam_score') > 70:
  passed.append(student_1)

passed

[{'name': 'Jess', 'exam_score': 72, 'attendance': True},
 {'name': 'Jess', 'exam_score': 72, 'attendance': True},
 {'name': 'Jess', 'exam_score': 72, 'attendance': True}]

- else and elif keywords

In [52]:
if student_2.get('exam_score') > 70:
  passed.append(student_2)
else:
  failed.append(student_2)

passed

[{'name': 'Jess', 'exam_score': 72, 'attendance': True},
 {'name': 'Jess', 'exam_score': 72, 'attendance': True},
 {'name': 'Jess', 'exam_score': 72, 'attendance': True},
 {'name': 'Briana', 'exam_score': 90, 'attendance': True}]

- combining boolean expressions with and, or

- pitfall: using assigment '=' operator instead of the comparison '=='